.leftdiv{
    width:45%; height:30px; 
    background-color:red; 
    margin-top:50px;
}

.rightdiv{
    width:45%; height:30px; 
    background-color:red; 
    margin-top:-30px;
}

.leftdiv1{
    width:35%; height:30px; 
    background-color:orange; 
    margin-top:50px;
}

.rightdiv1{
    width:55%; height:30px; 
    background-color:orange; 
    margin-top:-30px;
}

.leftdiv2{
    width:65%; height:30px; 
    background-color:green; 
    margin-top:50px;
}

.rightdiv2{
    width:25%; height:30px; 
    background-color:green; 
    margin-top:-30px;
}

.leftdiv3{
    width:25%; height:30px; 
    background-color:blue; 
    margin-top:50px;
}

.rightdiv3{
    width:65%; height:30px; 
    background-color:blue; 
    margin-top:-30px;
}

.playtoy{
    width:20px; height:20px; 
    background-color:aqua;
}