<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--textarea style="width:100%; height:90%;"-->
<!-- <div style="margin-top:20px;">
  <div id="chatuserfor" *ngFor="let r of messages">
    <div id="chatuseravatar">{{r.deepu.slice(0,1)}}</div>
    <div style="margin-top:-40px; color:white; margin-left:-200px;" >{{r.message}}</div>
  </div>
</div>
<!--/textarea-->
<!-- <br>
<input #chatmsg style="width:90%; height:5%;">
<div style="margin-left:300px;" (click)="onSubmit(chatmsg.value)">send</div> --> 

<p>{{timeformat}}</p><br>
<p>{{changedDateFormat}}</p>
</ion-content>
