<ion-header>
  <ion-toolbar>
    <ion-title>washingmachinesk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>washing machine python coding</h1>
<div>
<div style="border:2px solid grey;
width:300px; height:350px;
text-align:center;
background-color:azure;
">
<button>on</button>
  <div style="border:2px solid black;
  margin-top:100px;
  border-radius:100px;
  text-align:center;
  padding:80px;
  margin-left:60px;
  background-color:antiquewhite;
  width:100px; height:100px;
  "></div>
</div>
</div>
</ion-content>
